html, body{
    margin: 0px;
    height: 100%;
}



/*Newly created element*/
.newContent {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    padding: 10px;
}

.draggable {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: green;

    display: flex;
    align-items: center;
    justify-content: center;
}



/*Content bar buttons*/
#contentBar {
    outline: 5px solid black;
    width: 20vh;
    height: 100vh;
    float: right;
}

.sideBarBtn {
    position: absolute;
    display: flex;
    align-items: center;
    right: 50px;
}

#menuBtn {
    top: 50px;
}

#checkboxBtn {
    top: 100px;
}

#dropDownBtn {
    top: 150px;
}

#fileTypeBtn {
    bottom: 50px;
}



/*New element window*/
.newElementPopup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 20vw;
    height: 10vh;
    margin: 100px;
    padding: 20px;
}

.btnCancel {
    position: fixed;
    top: 80%;
    right: 5%;
}

.acptBtn {
    position: fixed;
    top: 80%;
    right: 20%;
}

.title{
    font-size:medium;
    color: black;
}

/*Mew element window content*/
.fileInput {
    position: absolute;
    bottom: 100px;
    right: 25px;
}
