/*
    The css file for most things on the website.
    The items are somewhat sorted by use and place of operation
    with some category titles.

*/

html, body{
    margin: 0px;
    height: 100%;
}


/*Newly created element*/
.newContent {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    padding: 10px;
}

.draggable {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}



/*Content bar buttons*/
#contentBar {
    outline: 5px solid black;
    width: 20vh;
    height: 100vh;
    float: right;
}

.sideBarBtn {
    position: absolute;
    display: flex;
    align-items: center;
    right: 50px;
}

#menuBtn {
    top: 50px;
}

#checkboxBtn {
    top: 100px;
}

#dropDownBtn {
    top: 150px;
}

#buttonBtn {
    top: 200px;
}

#linkBtn {
    top: 250px;
}



/*New element window*/
.newElementPopup {
    position: absolute;
    left: 40vw;
    top: 40vh;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 20vw;
    height: 10vh;
    margin: 100px;
    padding: 20px;
    z-index:2;
    background-color:white;
}

#newElementDim {
    position:fixed;
    background-color: dimgray;
    opacity:0.35;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.btnCancel {
    position: fixed;
    top: 80%;
    right: 5%;
}

.acptBtn {
    position: fixed;
    top: 80%;
    right: 20%;
}

.title{
margin-top:auto;
}

/*New element window content*/
.fileInput {
    position: absolute;
    bottom: 100px;
    right: 25px;
}

#cbAmount{
    position:fixed;
    left:25%;
    top: 38%;
}

.checkList {
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;*/
}

#listBox{
    position:fixed;
    left:25%;
    bottom:28%;
}
